################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.AssemblyInfo.cs
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.AssemblyInfoInputs.cache
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.assets.cache
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.GeneratedMSBuildEditorConfig.editorconfig
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.GlobalUsings.g.cs
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.RazorAssemblyInfo.cache
/MTGCardFile/MTGCardFile/MTGCardFile/obj/Debug/net8.0/MTGCardFile.RazorAssemblyInfo.cs
/MTGCardFile/MTGCardFile/MTGCardFile/obj/MTGCardFile.csproj.nuget.dgspec.json
/MTGCardFile/MTGCardFile/MTGCardFile/obj/MTGCardFile.csproj.nuget.g.props
/MTGCardFile/MTGCardFile/MTGCardFile/obj/MTGCardFile.csproj.nuget.g.targets
/MTGCardFile/MTGCardFile/MTGCardFile/obj/project.assets.json
/MTGCardFile/MTGCardFile/MTGCardFile/obj/project.nuget.cache
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/bootstrap
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib/jquery
/MTGCardFile/MTGCardFile/MTGCardFile/wwwroot/lib
/MTGCardFile/MTGCardFile/.vs/MTGCardFile
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/mtg-card-webapp/FileContentIndex
/.vs/mtg-card-webapp/v17
/.vs
/MTGCardFile/MTGCardFile/MTGCardFile/bin/Debug/net6.0-windows
/MTGCardFile/MTGCardFile/MTGCardFile/obj
/MTGCardFile/MTGCardFile/MTGCardFile/bin/Release/net6.0-windows
