
/* Set box model to include any borders */
* {
    box-sizing: border-box;
}

/* Ensure compatibility with older browsers */
header, nav, main, footer {
    display: block;
}

body {
    background-color: #5280C5;
    color: #003366;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000066;
    color: #aec3e3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    margin-left: 180px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #aec3e3;
}

h1 {
    line-height: 200%;
    text-indent: 1em;
    font-size: 3em;
    padding: 0.2em;
    text-shadow: #aec3e3;
}

/* Navigation bar */
nav {
    font-weight: bold;
    float: left;
    width: 180px;
}

/* Remove list markers from unordered list */
nav ul {
   list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav link {
    color: #000066;
}

nav visited {
    color: #5280C5;
}

nav hover {
    color: #3262A3;
}

dt {
    color: #5280C5;
    font-size: 1em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category {
    color: #5380C5;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    padding: 1em;
    margin-left: 180px;
}

/* Wrap body element to set width, margin, etc. */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}